<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDYViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CF6D4711CC46C04005C801F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CF6D48A1CC46C05005C801F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CF6D4951CC46C05005C801F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
